@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-poppins), sans-serif;
  }
}

@layer components {
  /* Headings */
  .heading {
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 700;
  }
  .section-title {
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 600;
  }

  /* Body text */
  .body-text {
    font-family: var(--font-poppins), sans-serif;
  }
}

@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-carousel {
  animation: carousel 25s linear infinite;
}

.animate-carousel-reverse {
  animation-direction: reverse;
}
